html {
    font-size: 14px;
    font-size: 16px;

   
}

@media (min-width: 768px) {
    html {
       
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-size: 16px;
    background-image: url("https://images.unsplash.com/photo-1617957743097-0d20aa2ea762?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
divv {
    background-cobackground-color: aliceblue;
}


Index {
    background-color: blue;
}

